<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>消防知识</title>
    <link type="text/css" rel="stylesheet" href="style.css"/>
    <script type="text/javascript" src="js/script.js"></script>
</head>

<body>
    <div>
        <h1>消防知识</h1>
    </div>
    <div >
       <ul class="utime">
        <dd><a href="text1.html"   target="_blank" >家庭防火四件宝</a></dd>
        <dd><a href="text2.html"   target="_blank" >火场自救的十种方法</a> </dd>
        <dd><a href="text3.html"   target="_blank" >使用救生气垫应注意的几个问题</a> </dd>
        <dd><a href="text4.html"   target="_blank" >家庭防火怎样巧用毛巾</a> </dd>
        </ul> 

    </div>
</body>
</html>
