<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>家庭防火“四件宝”</title>
    <link type="text/css" rel="stylesheet" href="style.css"/>
    <script type="text/javascript" src="js/script.js"></script>
</head>
<body>
<div id="zt">
<div class="posi">
</div>
<div class="lis">
<div class="b1111">
<div id="part-con">
<h6>家庭防火“四件宝”</h6>
<div class="source" >来源：中国消防在线</div>
<p>　　人们都知道，火灾是无情的。但是，在无情的大火面前，如果能够有效地进行防范，就可以逃避火魔的侵害，摆脱灾难和痛苦。那么，如何做到在火魔的追赶下从容不迫地有效逃生呢？你不妨在家中备好这样四件&ldquo;宝物&rdquo;：</p>
<p>　　第一宝：家用灭火器</p>
<p>　　任何大火，开始时都是小火，如果在家中备好灭火器，并能熟练地操作它，那么当星星之火燃起时，就可以将它及时扑灭。</p>
<p>　　第二宝：一根(保险)绳</p>
<p>　　当大火一旦不可收拾时，就必须首先考虑逃生。这时，如果你住在3楼以上，楼梯的通道被堵塞，或者木制楼梯被烧坏，在这样的情况下，如果家中有一条又粗又长的绳子，那么可将绳子分段打结，然后拴在牢固的物体上，沿着绳子攀援而下，就能顺利逃生。</p>
<p>　　第三宝：一只手电筒</p>
<p>　　夜间失火，电路烧坏以后，屋内一片漆黑，特别是在睡梦中，还没有弄清楚是怎么回事，家中已是一片火海。这时，就需要一只手电筒照明，照出一条逃生之路。</p>
<p>　　第四宝：一个简易防烟面具</p>
<p>　　火场的烟雾是有毒的，许多丧生者都是被烟熏窒息而死的，如果家中备有一只防烟面具，在危急关头，套上防毒面具，就能抵御有毒烟雾的侵袭而死里逃生。</p>
</div>
<div class="edit ">责任编辑：衣岩伟
 </div>
</div>
</body>
</html>