<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>使用救生气垫应注意的几个问题</title>
    <link type="text/css" rel="stylesheet" href="style.css"/>
    <script type="text/javascript" src="js/script.js"></script>
</head>
<body>
<div id="zt">
<div class="posi">
</div>
<div class="lis">
<div class="b1111">
<div id="part-con">
<h6>使用救生气垫应注意的几个问题</h6>
<div class="source">来源：中国消防在线</div>
<p>　　救生气垫，是一种高空逃生的救生设备。它具有充气时间短，缓冲效果显著，操作方便，使用安全可靠等特点。采用具有阻燃性能的高强纤维材料制成,具有阻燃,耐磨,耐老化,折叠方便,使用寿命长等特点。笔者根据实际的灭火救援经验，从三个方面浅释如何走出救生气垫使用的误区，供大家参考。</p>
<p>　　一是火灾时慎用救生气垫，以免诱导跳楼。火场如果铺设气垫等于变相鼓励群众跳楼，这会衍生三个很严重的问题：第一是群众可能在气垫尚未完成充气前就往下跳，而直接撞击到地面，造成更严重的伤亡；第二是群众看到气垫后就争先往下跳，先跳的人来不及离开气垫，后跳的人已经掉下来碰撞在一起，最后所有跳楼的人都撞在气垫上，产生更严重的伤亡；第三是根据测试，从距地面15米至20米是气垫逃生的极限(约六层楼以下)，而火场设气垫后，无法要求只有六楼以下的人才可以跳，七楼以上的群众如果看到气垫一样会往下跳，就极易因冲击力或无法精准落在气垫上而造成伤亡，所以火场抢救绝对不宜使用气垫救生。</p>
<p>　　二是在分秒必争的火场设气垫缓不济急。目前我区消防战斗中队警力不足，在分秒必争的火场，第一考虑是立刻组织扑救火灾，和救援被困群众。因为火场逃生时间非常有限(根据研究在起火房间，从起火燃烧至全面燃烧只需要六分钟)，在这么短的时间内，考虑先设置救生气垫是不切合实际的想法，等待气垫充气完成需要时间，气垫太轻，当充气完成后，容易飘动，整个过程至少要5人同时操作，再加上消防队出动所需要时间，根本来不及。所以我们要慎用气垫救生，不要导致群众为等待铺设气垫，而延误逃生时机，反而造成更严重的伤亡。此外，当群众跳下时，以现有铁窗林立，到处充满下降空间障碍，群众能准确落在气垫上吗？由此可见，在瞬息万变的火灾现场我们指挥员要保持清醒的头脑，审时度势，合理应用灭火战术，准确发挥救生气垫等器材的作用。</p>
<p>　　三是要认真做好气垫的日常维护、检查工作。2006年8月29日，公安部技术监督委员会批准发布了GA631-2006《消防救生气垫》消防救生气垫分为普通型消防救生气垫和气柱型消防救生气垫。《消防救生气垫》标准规定了消防救生气垫的型号、技术要求、试验方法、使用贮存、日常检查和检验规则。由于消防救生气垫产品的特殊性，标准明确规定其仅用于消防部队紧急救援且无其他任何可替代方法时使用，救援高度不得超过16米。每三个月应取出充气检查一次，用50公斤的沙袋从12米的高度进行三次投放试验，日常检查中严禁由人员进行试跳。所以消防战斗员在日常的检查、维护保养中要严格按照以上要求进行操作，切不可麻痹大意，造成意外事故。(罗兴)　　</p>
</div>
<div class="edit ">责任编辑：衣岩伟
 </div>
</div>
</body>
</html>