<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>火场自救的十种方法</title>
    <link type="text/css" rel="stylesheet" href="style.css"/>
    <script type="text/javascript" src="js/script.js"></script>
</head>
<body>
<div id="zt">
<div class="posi">
</div>
<div class="lis">
<div class="b1111">
<div id="part-con">
<h6>火场自救的十种方法</h6>
<div class="source" >来源：中国消防在线</div>
<p>　　一场大火降临，在众多被火围困的人员中，有的人生灵涂炭，命赴黄泉；有的人跳楼丧生或造成终生残疾；也有人化险为夷，死里逃生。这固然与起火时间、地点、火势大小、建筑物内消防设施等因素有关，还要看被火围困的人员，在灾难临头时有没有逃生的本领。</p>
<p>　　那么，在火场中如何逃生自救呢？这里向你介绍十种方法。</p>
<p>　　一、熟悉环境法。</p>
<p>　　就是要了解和熟悉我们经常或临时所处建筑物的消防安全环境。对我们通常工作或居住的建筑物，事先可制定较为详细的逃生计划，以及进行必要的逃生训练和演练。对确定的逃生出口、路线和方法，要让所有成员都熟悉掌握。必要时可把确定的逃生出口和路线绘制成图，张贴在明显的位置，以便平时大家熟悉，一旦发生火灾，则按逃生计划顺利逃出火场。当人们外出，走进商场、宾馆、酒楼、歌舞厅等公共场所时，要留心看一看大平门、安全出口、灭火器的位置，以便遇到火灾时能及时疏散和灭火。只有警钟长鸣，养成习惯，才能处险不惊，临危不乱。如1985年4月18日深夜，哈尔滨市天鹅宾馆发生特大火灾，起火的楼层住着一位日本客人。他在18日住进11层时，进房前先在门口看了看周围环境，知道了疏散出口。当夜里意识到失火后，便穿过烟雾弥漫的走廊直往疏散通道摸去，得以死里逃生。</p>
<p>　　二、迅速撤离法。</p>
<p>　　逃生行动是争分夺秒的行动。一旦听到火灾警报或意识到自己可能被烟火包围，千万不要迟疑，要立即跑出房间，设法脱险，切不可延误逃生良机。1989年，吉林省东辽县就曾发生过一位青年妇女已经逃离险境又返回火场穿衣服、抢拿财物，导致丧命火场的悲剧。一般说，火灾初期烟少火小，只要迅速撤离，是能够安全逃生的。</p>
<p>　　三、毛巾保护法。</p>
<p>　　火灾中产生的一氧化碳在空气中的含量过1.28%时，即可导致人在1～3分钟内窒息死亡。同时，燃烧中产生的热空气被人吸入，会严重灼伤呼吸系统的软组织，严重的也可致人员窒息死亡。逃生的人员多数要经过充满浓烟的路线才能离开危险的区域。逃生时，可把毛巾浸湿，叠起来捂住口鼻，无水时，干毛巾也可。身边如没有毛巾，餐巾布、口罩、衣服也可以代替。要多叠几层，使滤烟面积增大，将口鼻捂严。穿越烟雾区时，即使感到呼吸困难，也不能将毛巾从品鼻上拿开。</p>
<p>　　四、通道疏散法。</p>
<p>　　楼房着火时，应根据火势情况，优先选用最便捷、最安全的通道和疏散设施，如疏散楼梯、消防电梯、窒外疏散楼梯等。从浓烟弥漫的建筑物通道向外逃生，可向头部、身上浇些凉水，用湿衣服、湿床单、湿毛毯等将身体裹好，要低势行进或匍匐爬行，穿过险区。如无其它救生器材时，可考虑利用建筑的窗户、阳台、屋顶、避雷线、落水管等脱险。如1993年2月14日，唐山市林西南路百货大楼特大火灾，死80人，伤53人。而有位叫刘丽英的女士却死里逃生，着火时她正在三楼购物，混乱中她趴在地板上，顺着楼梯爬到二楼，从窗户跳出，得以幸存。</p>
<p>　　五、绳索滑行法。</p>
<p>　　当各通道全部被浓烟烈火封锁时，可利用结实的绳子，或将窗帘、床单、被褥等撕成条，拧成绳，用水沾湿，然后将其拴在牢固的暖气管道、窗框、床架上，被困人员逐个顺绳索沿墙缓慢滑到地面或下到未着火的楼层而脱离险境。</p>
<p>　　六、低层跳离法。</p>
<p>　　如果被火困在二层楼内，若无条件采取其它自救方法并得不到救助，在烟火威胁、万不得已的情况下，也可以跳楼逃生。但在跳楼之前，应先向地面扔些棉被、枕头、床垫、大衣等柔软物品，以便&ldquo;软着陆&rdquo;。然后用手扒住窗台，身体下垂，头上脚下，自然下滑，以缩小跳落高度，并使双脚首先落在柔软物上。如果被烟火围困在三层以上的高层内，千万不要急于跳楼，因为距地面太高，往下跳时容易造成重伤和死亡。只要有一线生机，就不要冒险跳楼。</p>
<p>　　七、借助器材法。</p>
<p>　　人们处在火灾中，生命危在旦夕，不到最后一刻，谁也不会放弃生命，一定要竭尽所能设法逃生。逃生和救人的器材设施种类较多，通常使用的有缓降器、救生袋、救生网、救生气垫、救生软梯、救生滑杆、救生滑台、导向绳、救生舷梯等等，如果能充分利用这些器材和设施，就可以火&ldquo;口&rdquo;脱险。</p>
<p>　　八、暂时避难法。</p>
<p>　　在无路可逃生的情况下，应积极寻找暂时的避难处所，以保护自己，择机而逃。如果在综合性多功能大型建筑物内，可利用设在电梯、走廊末端以及卫生间附近的避难间，躲避烟火的危害。如果处在没有避难间的建筑里，被困人员应创造避难场所与烈火搏斗，求得生存。首先，应关紧房间迎火的门窗，打开背火的门窗，但不要打碎玻璃，窗外有烟进来时，要赶紧把窗子关上。如门窗缝或其它孔洞有烟进来时，要用毛巾、床单等物品堵住，或挂上湿棉被、湿毛毯、湿床袋等难燃物品，关不断向迎火的门窗及遮挡物上洒水，最后淋湿房间内一切可燃物，一直坚持到火灾熄灭。另外，在被困时，要主动与外界联系，以便极早获救。如房间有电话、对讲机、大哥大，要及时报警。如没有这些通讯设备，白天可用各色的旗子或衣物摇晃，向外投掷物品，夜间可摇晃点着的打火机、划火柴、打开电灯、手电向外报警求援，直到消防队来救助脱险或在能疏散的情况下择机逃生。在逃生过程中如果有可能应及时关闭防火门、防火卷帘门等防火分隔物，启动通风和排烟系统，以便赢得逃生的救援时机。</p>
<p>　　九、标志引导法。</p>
<p>　　在公共场所的墙面上、顶棚上、门顶处、转弯处，要设置&ldquo;太平门&rdquo;、&ldquo;紧急出口&rdquo;、&ldquo;安全通道&rdquo;、&ldquo;火警电话&rdquo;以及逃生方向箭头、事故照明灯等消防标志和事故照明标志。被困人员看到这些标志时，马上就可以确定自己的行为，按照标志指示的方向有秩序地撤离逃生，以解&ldquo;燃眉之急&rdquo;</p>
<p>　　十、利人利已法。</p>
<p>　　在众多被困人员逃生过程中，极易出现拥挤、聚堆、甚至倾轧践踏的现象，造成通道堵塞和不必要的人员伤亡。相互拥挤、践踏，既不利于自己逃生，也不利于他人逃生。如1994年11月27日13时28分，辽宁省阜新市发生了震惊全国的特大火灾。在一幢单层的艺苑歌舞厅，有233人丧生，就是与被困人员拥挤、踩压有关。歌舞厅仅有一个0.83米宽的小门，且有5个台阶，发现火时，所有舞池中的人立即拥向小门逃生。一人跌倒还未及爬起，后面接踵而到的人便被绊倒，呼啦一下子，逃生者就人叠人地堵住了小门。灾后发现，死者呈扇形拥在门口处，尸体叠了9层，约有1.5米高，其景惨不忍睹。因此，在逃生过程中如看见前面的人倒下去了，应立即扶起，对拥挤的人应给予疏导或选择其他疏散方法予以分流，减轻单一疏散通道的压力，竭尽全力保持疏散通道畅通，以最大限度减少人员伤亡。</p>
<p>　　(辽源支队李成供稿)审核人：胡玉祥</p>
<p>　　</p>
</div>
<div class="edit ">责任编辑：衣岩伟
 </div>
</div>
</body>
</html>