<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>火灾逃生策略</title>
    <link type="text/css" rel="stylesheet" href="style.css"/>
    <script type="text/javascript" src="js/script.js"></script>
</head>
<body>
<div id="zt">
<div class="posi mt10 f12 lh30">
</div>
<div class="lis mt10 mb10 clearfix">
<div class="w660 fl b1111">
<div id="part-con">
<h6>火灾逃生策略</h6>
<div class="source" >来源：中国消防在线</div>
<div class="f14 lh26 mt20">
<p>　　面对大火，必须坚持&ldquo;三要&rdquo;、&ldquo;三救&rdquo;、&ldquo;三不&rdquo;的原则，才能够化险为夷，绝处逢生。</p>
<p>　　&ldquo;三要&rdquo;&mdash;&mdash;</p>
<!--advertisement code begin--><script language="javascript" src="http://www.jiaodong.net/a/js/news_content_built-in.js"></script><!--advertisement code end--><p>　　1、&ldquo;要&rdquo;熟悉自己住所的环境2、&ldquo;要&rdquo;遇事保持沉着冷静3、&ldquo;要&rdquo;警惕烟毒的侵害</p>
<p>　　平时要多注意观察，做到对住所的楼梯、通道、大门、紧急疏散出口等了如指掌，对有没有平台、天窗、临时避难层(间)胸中有数。</p>
<p>　　另外，要让全家人，特别是儿童，了解门锁结构，知道如何开关窗户。特别值得一提的是，一个被螺丝固定了的纱窗会使得窗户无法成为紧急出口。因此，门窗应确保容易开关。还必须教会孩子，在紧急情况下，可用椅子或其他坚硬的物品砸碎窗户的玻璃。</p>
<p>　　在住宅醒目的位置上贴一张住宅平面图，让全家人都容易看到。在图的上面，详细地画有用特殊标志标明的门窗、逃生路线、障碍物、逃生中家人的集合地点&hellip;&hellip;必要时，还可进行一次家庭防火演习。</p>
<p>　　面对熊熊大火，只有保持沉着和冷静，才能采取迅速果断的措施，保护自身和别人的安全，将财产损失减少到最低的程度。有的人因为乱了方寸，出现错误的行动，结果延误了逃生的宝贵时间。例如，只知道推门，而不会用力去拉门；错把墙壁当作门，用力猛敲；甚至不管三七二十一，盲目跳楼&hellip;&hellip;</p>
<p>　　在开门之前要先摸摸门，如果门发热或烟雾已从门缝中渗透进来，就不能开门，准备走第二条路线。即使门不热，也只能小心地打开一点点并迅速通过，随后立即把门重新关上。因为门大开时会跑进氧气，这样一来，即使是快要闷熄的火也会骤然燃烧起来。</p>
<p>　　在火灾中，最大的&ldquo;杀手&rdquo;并非大火本身，而是在焚烧时所产生的大量有毒烟雾，其主要成分为一氧化碳，另外还有氰化氢、氯化氢、二氧化硫等。消防专家的研究表明，空气中的一氧化碳含量为1%时，人呼吸数次后就会昏迷过去，一二分钟便可引起死亡。</p>
<p>　　据统计，在美国的火灾中，因烟雾而窒息或中毒造成死亡的人数占遇难者的三分之二以上。为此，专家建议，用湿毛巾将鼻子和嘴捂住，尽快地撤离火场。如果火势过猛，出口通道被浓烟堵住，且没有其他路线可走，可用湿棉被做掩护，贴近地面的&ldquo;安全带&rdquo;，匍匐通过浓烟密布的走廊和房间。绝对不能以身体站直的姿势去跑。因为冷热空气是对流的，有毒烟气飘浮在房屋空间的上部，而贴近地面的地方会跑进一些新鲜空气供人呼吸。站着跑很有可能无法呼吸，窒息而死。</p>
<p>　　如果自己的衣裤着火，应该立即脱掉，或在地上打滚，将火弄灭。若有人惊惶而逃时衣裤带火，应将其按倒在地打滚，直至火熄。</p>
<p>　　&ldquo;三救&rdquo;&mdash;&mdash;</p>
<p>　　1、选择逃生通道自&ldquo;救&rdquo;2、结绳下滑&ldquo;自救&rdquo;3、向外界求&ldquo;救&rdquo;</p>
<p>　　发生火灾时，利用烟气不浓或大火尚未烧着的楼梯、疏散通道、敞开式楼梯逃生，是最理想的选择。如果能顺利到达失火楼层以下，就算基本脱险了。</p>
<p>　　在遇上过道或楼梯已经被大火或有毒烟雾封锁后，该怎么办呢？应该及时利用绳子(或者把窗帘、床单撕扯成较粗的长条结成的长带子)，将其一端牢牢地系在自来水管或暖气管等能负载体重的物体上，另一端从窗口下垂至地面或较低楼层的阳台处等。然后自己沿着绳子下滑，逃离火场。</p>
<p>　　倘若自己被大火封锁在楼内，一切逃生之路都已切断，那就得暂时退到房内，关闭通向火区的门窗。呆在房间里，并不是消极地坐以待毙。可向门窗浇水，以减缓火势的蔓延；与此同时，通过窗口向下面呼喊、招手、打亮手电筒、抛掷物品等，发出求救信号，等待消防队员的救援。总之，不要因冲动而做出不利于逃生的事。</p>
<p>　　&ldquo;三不&rdquo;&mdash;&mdash;</p>
<p>　　1、&ldquo;不&rdquo;乘普通电梯2、&ldquo;不&rdquo;轻易跳楼3、&ldquo;不&rdquo;贪恋财物</p>
<p>　　发现火灾后，人们为了阻止大火沿着电气线路蔓延开来，都会拉闸停电。有时候，大火会将电线烧断。如果乘坐普通电梯逃生，遇上停电可就麻烦了，既上不去，又下不来，无异于将自己困在&ldquo;囚笼&rdquo;里，其危险的后果是可想而知的。这里特别要指出的是，按照防火要求安装的消防电梯除外，因为它有单独的电源控制和其他安全设备，可用于人员的疏散。</p>
<p>　　跳楼求生的风险极大，弄不好往往不是死就是伤，不可轻取。即使在万般无奈之际出此下策，也要讲究方法。首先，应该向楼下抛掷棉被或床垫，以便身体着落时不直接与硬的水泥或者石头路面相撞，减少受伤的可能性；然后双手抓住窗沿，身体下垂，双脚落地跳下，缩小与地面的落差。</p>
<p>　　火灾来势极快，10分钟后便可进入猛烈的阶段。据有关资料记载，当火灾达到猛烈的阶段时，烟气的水平扩散速度为每秒钟0.5至0.8米，烟气的竖向垂直扩散速度就更快了，每秒钟可以达到3.4米，并且常常伴有&ldquo;爆燃&rdquo;和建筑物坍塌等紧急情况的发生。因此，消防专家警告，遇上火灾时，必须迅速疏散逃生，千万别为穿衣或寻找贵重物品而浪费时间，因为任何珍宝都比不上生命更为珍贵。更不要在已经逃离火场后，为了财物而重返火口，到头来只能是人财两空，自取灭亡。</p>
</div>
<div class="edit ">责任编辑：衣岩伟
 </div>
</div>
</body>
</html>