<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> 
    <title>分区情况查询</title>
    <link rel="stylesheet" type="text/css" href="Fcss/try1-top.css">
</head>
<body>
    <header>
        <h1>分区情况查询</h1>
    </header>
    <div id="show">
        <div class="A">
            开始时间 &nbsp;
            日期:<input type="test" id="datelow1" value="20220511">
            小时:<input type="test" id="hourlow1" value="00">
            分钟:<input type="test" id="minlow1" value="00">
            <br>
            结束时间 &nbsp;
            日期:<input type="test" id="datehigh1" value="20220512">
            小时:<input type="test" id="hourhigh1" value="00">
            分钟:<input type="test" id="minhigh1" value="00">
            <br>
            分区号:<input type="test" id="minhigh1" value="00">
            <button id = "bt1"> 查询 </button>
            <br>
            <div id = 'data'>
                <p class = 'zh'><strong>监控面板</strong></p>
            </div>
        </div>
        <div class="B">
            开始时间 &nbsp;
            日期:<input type="test" id="datelow1" value="20220511">
            小时:<input type="test" id="hourlow1" value="00">
            分钟:<input type="test" id="minlow1" value="00">
            <br>
            结束时间 &nbsp;
            日期:<input type="test" id="datehigh1" value="20220512">
            小时:<input type="test" id="hourhigh1" value="00">
            分钟:<input type="test" id="minhigh1" value="00">
            <br>
            分区号:<input type="test" id="minhigh1" value="00">
            <button id = "bt1"> 查询 </button>
            <br>
            <div id = 'data'>
                <p class = 'zh'><strong>监控面板</strong></p>
                
            </div>

        </div>
        <div class="C">
            开始时间 &nbsp;
            日期:<input type="test" id="datelow1" value="20220511">
            小时:<input type="test" id="hourlow1" value="00">
            分钟:<input type="test" id="minlow1" value="00">
            <br>
            结束时间 &nbsp;
            日期:<input type="test" id="datehigh1" value="20220512">
            小时:<input type="test" id="hourhigh1" value="00">
            分钟:<input type="test" id="minhigh1" value="00">
            <br>
            分区号:<input type="test" id="minhigh1" value="00">
            <button id = "bt1"> 查询 </button>
            <br>
            <div id = 'data'>
                <p class = 'zh'><strong>监控面板</strong></p>
                
            </div>

        </div>
    </div>
    <p class = 'zh'><strong>历史记录面板</strong></p>
    <div id = 'chaxun'>
        

    </div>

</body>
</html>